.flex.w-full.flex-nowrap
  .px-6.py-4.whitespace-nowrap{ class: 'flex-0 truncate basis-1/4' }
    .flex.items-center
      .ml-4
        .text-sm.font-medium.text-gray-900
          = request.requester.name
        .text-sm.text-gray-500
          = mail_to request.requester.email
  .px-6.py-4.whitespace-nowrap{ class: 'flex-0 truncate basis-1/4' }
    .text-sm.text-gray-900
      = request.point_person.person.name
    .text-sm.text-gray-500
      = mail_to request.point_person.person.email
  .px-6.py-4{ class: 'flex-0 basis-1/2' }
    %span.px-2.inline-flex.text-xs.leading-5.font-semibold
      = request.description
