%tr
  %td.px-6.py-4.whitespace-nowrap
    .flex.items-center
      .ml-4
        .text-sm.font-medium.text-gray-900
          = request.requester.name
        .text-sm.text-gray-500
          = mail_to request.requester.email
  %td.px-6.py-4.whitespace-nowrap
    - if request.point_person&.person.present?
      .text-sm.text-gray-900
        = request.point_person.name
      .text-sm.text-gray-500
        = mail_to request.point_person.email
    - else
      = form_with url: request_update_assignment_path(request), method: :patch do |f|
        = f.collection_select :point_person_id, Techie.all, :id, :name, include_blank: 'Assign...'
        = f.submit 'Assign'
  %td.px-6.py-4
    %p.px-2.text-xs.leading-5
      = request.request_type.description
    %p.px-2.text-xs.leading-5.font-semibold
      = request.description
  %td.px-6.py-4.whitespace-nowrap
    -# = request.request_status.description
    = form_for request do |f|
      = f.collection_select :request_status_id, RequestStatus.all, :id, :description,
      { include_blank: true }, { data: { controller: 'ts-select' } }
  %td.px-6.py-4

    = link_to edit_request_path(request) do
      %i.fa-solid.fa-pencil{ title: 'Edit request' }
