= content_for :title, "Requests"
%div
  %h1 My Requests
  = render 'requests_table', requests: @my_requests
%div
  %h1 Unassigned Requests
  = render 'requests_table', requests: @unassigned_requests
%div
  %h1 Other Requests
  = render 'requests_table', requests: @other_requests
= link_to "New Request", "requests/new", class: "fixed bottom-px right-px mt-10 w-1/4 bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 z-10"
