!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TechCircle
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag "application", "data-turbo-track": "reload"
  %body
    %div
      = render partial: "layouts/nav"
      %header.bg-white.shadow
        .max-w-7xl.mx-auto.py-6.px-4.sm:px-6.lg:px-8
          %h1.text-3xl.font-bold.text-gray-900
            = yield(:title)
      %main
        - flash.each do |f|
          = f
        .max-w-7xl.mx-auto.py-6.sm:px-6.lg:px-8
          = yield
